<form name ='player_input' action='/rps' method='post'>
<p style="color:#F62217"> <%= @player_1_name %> </p>

 Versus

<p style="color:#4616F5"><%= @player_2_name %> </p>

<!-- <a href="/rps"> Rock, Paper, Scissors !</a> -->
  <input type='submit' value='Rock. Paper, Scissors!'>
</form>
