<form name ='weapon_input' action='/rps' method='get'>
<p style="color:#F62217"> <%= @player_1_name %> </p>

 Versus

<p style="color:#4616F5"><%= @player_2_name %> </p>

<!-- <a href="/rps"> Rock, Paper, Scissors !</a> -->
<label for='Choose_weapon'>
  Choose your weapon: Rock, Paper or Scissors?
  <input type='text' name='weapon'>
</label><br>

  <input type='submit' value='Rock, Paper, Scissors!'>
</form>
