<h1>Oh snapppppp! some sick R to the P to the S action!</h1>
<form name ='result_input' action='/names' method='post'>

  <p style="color:#4616F5"><%= @weapon %> </p>
  goes up against
  <p style="color:#F62217"> <%= @game.weapon_random %> </p>

  insert winner result here + button to take us back to start
    <input type='submit' value='Rematch?'>

</form>




Notes: need to keep player names when rematch button is clicked.

refactor to just entering name of 1 player and having a default opponent
perhaps have the opponent set to something funny? like godzilla.. if thats funny?

need to set up a way to have who wins on the page. how? hmmmm..
